{%- extends "layout.html" %}

{% block body %}
    {% if name %}
    <div class="title"> <h1> {{name}} </h1> </div>
    {% endif %}

    {% if argspec or note %}
    <div class="metadata">
        {% if argspec %}
        <p> <b>Definition :</b> <span class="def"> {{name}}{{argspec}} </span> </p>
        {% endif %}

        {% if note %}
        <p> <b>Type :</b> {{note}} </p>
        {% endif %}
    </div>
    {% endif %}

    <div class="docstring">
        {{ body }}
    </div>
{% endblock %}
